In [1]:
import urllib.request
import pandas as pd
import seaborn as sns

In [4]:
source_url = "https://raw.githubusercontent.com/foerstner-lab/Bits_and_pieces_for_the_carpentries_workshops/main/text_file_examples/Expression_comparison.csv"

In [5]:
table_file = "Expression_comparison.csv"

In [8]:
urllib.request.urlretrieve(source_url,table_file)

('Expression_comparison.csv', <http.client.HTTPMessage at 0x25c7dd55a00>)

In [9]:
comparison = pd.read_csv(table_file, sep="\t", comment="#")

In [10]:
comparison

,Gene,Comparison_B_to_A,Comparison_C_to_A,Comparison_D_to_A,Comparison_E_to_A
0,thrL,-0.50,0.00,0.1000,0.10
1,thrA,-1.20,0.10,0.1000,0.71
2,thrB,2.00,0.10,-2.5000,0.40
3,thrC,0.00,0.10,0.1000,0.10
4,yaaX,0.10,0.71,0.3000,0.10
5,yaaA,0.10,0.90,0.1000,-0.50
6,yaaJ,-0.10,-0.50,-1.1000,0.30
7,talB,0.71,-0.10,0.1000,-0.10
8,mog,0.23,0.70,0.7100,0.10
9,satP,0.40,-0.10,0.4000,0.71
10,yaaW,0.30,0.30,0.1000,0.10
11,mbiA,0.01,-0.10,-0.5000,0.10
12,yaaI,2.40,0.31,0.1000,0.40
13,dnaK,0.01,0.80,0.6000,2.50
14,dnaJ,0.23,0.01,0.3737,0.30

In [28]:
comparison.set_index('Gene', inplace='Ture')

ValueError: For argument "inplace" expected type bool, received type str.