In [1]:
print("hello world")

hello world

In [3]:
# python basics lesson
## sub heading 
some text

SyntaxError: invalid syntax (<ipython-input-3-59c6301fe501>, line 3)

In [4]:
# this is a comment
print("something")

something

In [5]:
name = "Lovelace"

In [6]:
print(name)

Lovelace

In [7]:
name

'Lovelace'

In [8]:
age = 73

In [9]:
size = 18

In [10]:
knows_math=True
print(knows_math)
likes_gardening=False
print(likes_gardening)

True
False

In [11]:
type(name)

str

In [12]:
type(age)
type(size)

int

In [13]:
type(size)

int

In [14]:
size=1.77772

In [15]:
type(size)

float

In [16]:
name + name

'LovelaceLovelace'

In [17]:
str(10)

'10'

In [18]:
name+str(10)

'Lovelace10'

##Functions and Methods

In [19]:
#Functions and Methods

In [20]:
len(name)

8

In [21]:
name

'Lovelace'

In [22]:
name.upper()

'LOVELACE'

In [25]:
name_upper=name.upper()

In [26]:
name_upper

'LOVELACE'

In [27]:
name.count("e")

2

In [29]:
name.replace("lace"," is everywhere")

'Love is everywhere'

In [30]:
%who

age	 knows_math	 likes_gardening	 name	 name_upper	 size

## Lists and Dictionaries

In [31]:
names = ["Lovelace","Darwin","Curie","Hawking"]

In [32]:
names[2]

'Curie'

In [33]:
names(0)

TypeError: 'list' object is not callable

In [34]:
names[0]

'Lovelace'

In [35]:
names[-1]

'Hawking'

In [36]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [37]:
names[0:-1]

['Lovelace', 'Darwin', 'Curie']

In [38]:
names[0:-2]

['Lovelace', 'Darwin']

In [39]:
names[2:]

['Curie', 'Hawking']

In [40]:
authors_and_birth_years={"Lovelace":1882,
                         "Darwin":1809,
                         "Noether":1882}

In [41]:
authors_and_birth_years["Darwin"]

1809

##for-loops

##for-loops

## for-loops

In [42]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [44]:
for person in names:
    print(person + "did awsome staff")

Lovelacedid awsome staff
Darwindid awsome staff
Curiedid awsome staff
Hawkingdid awsome staff

for person in names:
    print(person + "did awsome staff")
    print("This is the end")

## Conditionals

In [49]:
temp = 10
if temp > 15:
    print("It's warm")
else:
    print("it's cold")

it's cold

In [50]:
temp=15
if temp >=25:
    print("it's hot")
elif temp >=15:
    print("it's warm")
else:
    print("it's cold")

it's warm